:root {
    --grey: #EAEDEF;
    --medium-grey: #f7f8f8;
    --light-grey: #f9fafa;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Layout */

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 220px 800px 300px minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    column-gap: 3rem;

}
nav, section {
    padding: 0.5rem;
}

/* Page elements */
.divider {
    height: 1px;
    width: 100%;
    background-color: var(--grey);
}

/* Nav */

#nav {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns:  minmax(0px, 1fr) 220px 800px 300px minmax(0, 1fr);
    align-items: center;

    border-bottom: 1px solid var(--grey)
}
.nav__menu-left {
    display: none;
}
.nav__logo {
    height: 48px;
    justify-self: start;
}
.nav__input {
    grid-column-start: 3;

    justify-self: stretch;
    padding: 15px;
    border: none;
    border-radius: 40px;
    background-color: var(--grey);
}
.nav__profile {
    grid-column-start: -2;

    justify-self: end;
}


/* Left menu */
#menu-left {
    grid-column: 2;
    border-right: 1px solid var(--grey);
}
.menu-left {
    height: 100%;
    width: 100%
}
.menu-left__list {
    padding: 0;
    margin: 0;
}
.menu-left__item {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    gap: 0.5rem;
    background-color: transparent;
    list-style-type: none;
}
.menu-left__item.header {
    color: rgb(122, 122, 122)
}
.menu-left__item:hover, .item-grey {
    background-color: var(--grey);
}
.menu-left__item-img {
    height: 80%;
}
.divider.bottom--margin {
    margin: 1rem 0;
}

/* Right menu */
#menu-right {
    grid-column: -3;
}
.menu-right__content {
    display: flex;
    flex-direction: column;
    height: 70%;
    border-radius: 25px;
    background-color: var(--medium-grey);
    gap: 1rem;
    padding: 1rem 0;
}
.menu-right__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.menu-right__header .header, 
.menu-right__header .button,
#menu-right .title {
    font-size: 0.9rem;
    color: grey;
}
.menu-right__header .button {
    background: none;
    padding: 0;
    border: none;
    color: rgb(54, 111, 255);
}
.menu-right__content > *:not(.divider) {
    padding: 0 1rem;
}
.header-img {
    height: 20px;
}
.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header span, .footer span {
    font-size: 0.8rem;
    color: rgb(133, 133, 133);
}


/* Main content */
#main-content {
    grid-column: 3;
}
.content {
    display: grid;
    grid-auto-rows: fit-content();
}
.content-item {
    padding: 0.5rem 1rem;
}
.content-item:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}
.content-item__header {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}
.content-item__title {
    margin: 0.8rem 0;
    font-size: 1.3rem;
}
.content-item__description {
    margin-bottom: 0.5rem;
}
.content-item__footer button {
    padding: 0.6rem;
    background-color: var(--grey);
    border: none;
    border-radius: 15px;
    margin: 0 0.1rem;
}
.content-item__description, .content-item__header {
    font-size: 0.9rem;
    color: grey
} 
.divider.content {
    margin: 0.2rem 0;
}
/* Media Queries */
@media all and (max-width: 1800px) {
    #wrapper {
        column-gap: 0.5rem;
    }
    #nav {
        grid-template-columns:  minmax(0px, 1fr) 220px 650px 450px minmax(0, 1fr);
    }
}

@media all and (max-width: 1400px) {
    #wrapper {
        grid-template-columns: 0 220px 1fr 300px 0;
    }
    #nav {
        grid-template-columns: 0 220px 1fr 400px 0;
    }
}

@media all and (max-width: 1200px) {
    #wrapper {
        grid-template-columns: 0 0 3fr 300px 0;
    }
    #nav {
        grid-template-columns: auto 1fr auto;
        gap: 2rem;    
    }
    .nav__menu-left {
        display: inline-block;
    }
    .nav__input {
        grid-column-start: 2;
    }
    .nav__profile {
        grid-column-start: 3;
    }
    #menu-left {
        visibility: hidden;
    }
}

@media all and (max-width: 900px) {
    #wrapper {
        grid-template-columns: 0 0 1fr 0 0;
    }
    #menu-right {
        visibility: hidden;
    }
}