:root {
    --grey: #EAEDEF;
    --light-grey: #f9fafa;
}

/* Main Layout */

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 220px 800px 300px minmax(0, 1fr);
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    column-gap: 3rem;
    row-gap: 1rem;
}

/* Nav */

nav {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: auto 1fr 500px auto;
    justify-items: start;
    align-items: center;
}
.nav__logo {
    height: 48px;
}
.nav__input {
    justify-self: center;
    border-radius: 40px;
    border: none;
    background-color: var(--grey);
    padding: 15px;
    width: 800px;
}
.nav__profile {
    justify-self: end;
}


section {
    border: 3px solid salmon
}

/* Left menu */
#menu-left {
    grid-column: 2;
}
.menu-left {
    height: 100%;
    width: 100%
}
.menu-left__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 25px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
}
.menu-left__item:hover {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 25px;
    padding: 0.5rem 1rem;
    background-color: var(--grey);
    border-radius: 5px;
}

.menu-left__item-img {
    height: 100%;
}
.menu-left__list {
    padding: 0;
}

/* Right menu */
#menu-right {
    grid-column: -3;
}
.menu-right {
    height: 70%;
    background-color: var(--light-grey);
    border-radius: 25px;
}


/* Main content */
#main-content {
    grid-column: 3;
}


@media all and (max-width: 1800px) {
    #wrapper {
        column-gap: 0.5rem;
    }
}